<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Category Modal -->
<div th:fragment="copy" class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div style="margin-left: 50%" class="modal-dialog d-flex">
        <div style="min-width: 30rem;" class="modal-dialog modal-dialog-scrollable">
            <div style="height: 84vh; margin-top: 5.7rem" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="categoryModalLabel">SHOP BY CATEGORY</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="background-color: transparent" th:each="category,iterStat : ${categories}">
                        <a style="padding-top: 20px" id="category" th:data-category-id="${category.getId()}" class="btn btn-light" th:text="${category.getName()}">Category name</a><br>
                    </div>
                    <a class="btn btn-light">Top Brands</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <div style="min-width: 30rem;" id="subcategoryModal" class="modal-dialog modal-dialog-scrollable" hidden="hidden">
            <div style="height: 84vh; margin-top: 5.7rem; background-color: #212121" class="modal-content">
                <div id="subcategoryModalBody" class="modal-body">
                </div>
                <div style="border-top-color: black" class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Registration Modal -->
<div th:fragment="copy" class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signUpModalLabel">Registration</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-signUp" class="row g-3 was-validated">
                    <div class="input-group">
                        <span class="style-mode input-group-text">Full name</span>
                        <input type="text" name="fullName" class="style-mode form-control is-invalid" placeholder="Full name" pattern="(^[A-Za-z]{3,16})([ ]{0,1})([A-Za-z]{3,16})?([ ]{0,1})?([A-Za-z]{3,16})?([ ]{0,1})?([A-Za-z]{3,16})" required aria-label="Full name">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div><br>
                    <div class="input-group">
                        <span class="style-mode input-group-text">Email address</span>
                        <input type="email" name="email" class="style-mode form-control is-invalid" placeholder="Email" required aria-label="Email">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div><br>
                    <div class="input-group">
                        <span class="style-mode input-group-text">Password</span>
                        <input type="password" name="password" class="style-mode form-control is-invalid" placeholder="Six or more characters" pattern=".{6,}" title="Six or more characters" required aria-label="Password">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div><br>
                    <div class="col-12 d-flex">
                        <button class="btn btn-outline-success" type="submit">Register</button>
                        <button style="color: red" id="alreadyRegister" class="btn btn-light" hidden="hidden" disabled>Email already register! Please enter other.</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div th:fragment="copy" class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Sign in</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-login" class="row g-3 was-validated">
                    <div class="input-group">
                        <span class="style-mode input-group-text">Email address</span>
                        <input type="email" name="email" class="style-mode form-control is-invalid" placeholder="Email" required aria-label="Email">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div><br>
                    <div class="input-group">
                        <span class="style-mode input-group-text">Password</span>
                        <input type="password" name="password" class="style-mode form-control is-invalid" placeholder="Six or more characters" pattern=".{6,}" title="Six or more characters" required aria-label="Password">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div><br>
                    <div class="col-12 d-flex">
                        <button id="signIn" class="btn btn-outline-success" type="submit">Sign in</button>
                        <button style="color: red" id="invalidCredentials" class="btn btn-light" hidden="hidden" disabled>Invalid Credentials! Please try again.</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span style="padding-right: 8rem">
                    Don't have an account? <a style="color: deepskyblue;" id="signUp" href="#" data-bs-target="#signUpModal" data-bs-toggle="modal" data-bs-dismiss="modal">Create now</a>
                </span>
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Shopping Cart Modal -->
<div th:fragment="copy" class="modal fade" id="shoppingCartModal" tabindex="-1" aria-labelledby="shoppingCartModalLabel" aria-hidden="true">
    <div class="modal-dialog float-end d-flex">
        <div style="min-width: 30rem;" class="modal-dialog modal-dialog-scrollable">
            <div style="height: 84vh; margin-top: 5.7rem" class="modal-content">
                <div class="modal-header line-height-fixed font-size-lg">
                    <strong id="shoppingCartQuantity" style="padding-left: 2rem" class="mx-auto">Your Cart (0)</strong>
                    <a type="button" class="btn btn-light float-end transparent" data-bs-dismiss="modal">&maltese;</a>
                </div>
                <div id="shoppingCart" class="modal-body">
                </div>
                <div id="totalPriceContainer" hidden>
                    <strong style="float: left; padding-left: 10px" class="text-muted">Subtotal</strong>
                    <strong id="totalPrice" style="float: right; padding-right: 10px" class="text-muted">$89.00</strong>
                </div>
                <div class="d-flex row align-items-center">
                    <hr class="my-4">
                    <a style="border-color: transparent" id="checkoutBtn" class="btn btn-outline-success" href="#" th:attr="data-customer-id=${customerData ? customerData.id : guestId}" data-bs-target="#checkoutModal" data-bs-toggle="modal" data-bs-dismiss="modal" hidden>Continue to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Billing Address Modal -->
<div th:fragment="copy" class="modal fade" id="billingAddressModal" tabindex="-1" aria-labelledby="billingAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header line-height-fixed font-size-lg">
                <h5 class="modal-title" th:text="${customerData && customerData.address != null ? 'Update Billing Info' : 'Add Billing Info'}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-savedBillingInfo" class="was-validated" th:attr="data-user-id=${customerData ? customerData.getId() : ''}">
                    <div style="padding-bottom: 3rem" class="row g-3">
                        <div class="col-sm-6">
                            <label for="fullName" class="form-label">Full name</label>
                            <input type="tel" name="fullName" class="form-control" id="fullName" placeholder="" th:value="${customerData ? customerData.name : ''}" value="" required="">
                            <div class="invalid-feedback">
                                Valid full name is required.
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="phoneNumber" class="form-label">Phone number</label>
                            <input type="tel" name="phoneNumber" class="form-control" id="phoneNumber" th:value="${customerData && customerData.phoneNumber != null ? customerData.phoneNumber : ''}" value="" required="">
                            <div class="invalid-feedback">
                                Valid phone number is required.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input type="email" name="email" class="form-control" id="email" th:value="${customerData ? customerData.email : ''}" required="">
                                <div class="invalid-feedback">
                                    Your email address is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" name="address" class="form-control" id="address" th:value="${customerData && customerData.address != null ? customerData.address : ''}" required="">
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label for="country" class="form-label">Country</label>
                            <select id="country" class="form-select" required="">
                                <option name="country" th:value="${customerData && customerData.country != null ? customerData.country : ''}" th:text="${customerData && customerData.country != null ? customerData.country : ''}">Choose...</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div id="stateSelectParent" class="col-md-4">
                            <label for="state" class="form-label">State</label>
                            <input type="text" name="state" id="state" class="form-control" th:value="${customerData && customerData.state != null ? customerData.state : ''}" required>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="zip" class="form-label">Zip</label>
                            <input type="text" name="zip" class="form-control" id="zip" th:value="${customerData && customerData.zipcode != null ? customerData.zipcode : ''}" required="">
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label for="city" class="form-label">City</label>
                            <input type="text" name="city" class="form-control" id="city" th:value="${customerData && customerData.city != null ? customerData.city : ''}" required="">
                            <div class="invalid-feedback">
                                Please select a valid city.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-dark" data-bs-dismiss="">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- History Modal -->
<div th:fragment="copy" class="modal fade" id="historyModal" tabindex="-1" aria-labelledby="historyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historyModalLabel">Order History</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="orderHistory" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Checkout Modal-->
<div th:fragment="copy" class="modal fade" id="checkoutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <div style="margin-left: 10rem; padding: 5rem; font-size: 5rem" id="success" class="text-success">Success!</div>
                <div id="checkoutParent" class="row g-5">
                    <div class="col-md-5 col-md-6 order-md-last">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-dark">Your cart</span>
                            <span id="checkoutInfoPill" class="badge bg-dark rounded-pill" th:text="${shoppingCartSize}">3</span>
                        </h4>
                        <ul id="checkoutCartInfo" class="list-group mb-3">
                        </ul>
                    </div>
                    <div class="col-md-5 col-lg-6">
                        <div style="padding-top: 2rem" id="paypal-button-container"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeCheckoutBtn" type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
