<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<section th:fragment="copy" style="padding: 13rem 0 5rem 2rem; width: 60%;" class="transparent">
    <div style="padding-bottom: 5px" class="d-flex justify-content-start transparent">
        <strong id="subcategoryMainTitle" class="fs-5" th:text="${subcategory.name}">Title</strong>
    </div>

    <div id="productsParent" class="transparent">
        <div style="padding-bottom: 2rem" class="transparent" th:each="prod,iterStat : ${products}">
            <div class="card transparent">
                <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_1.jpg'" alt="" width="400" height="250"/>
                <div class="card-header transparent">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body transparent">
                    <div class="card-text transparent">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                        <div class="card-text transparent">
                            <button id="addToCart" th:data-product-id="${prod.getId()}" type="button" class="btn btn-success">Add to cart</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
